.data
    background: url("../icons/your_data/key.jpg"), url("../icons/your_data/server.jpg") 
    background-repeat: no-repeat
    background-size: 50.2%
    background-position: left, right
    min-height: 580px
    margin-top: 70px
    &__wrapper
        display: flex
        margin-top: 100px

    &__title
        margin-top: 60px
        font-size: 30px
        font-weight: 900
        color: $text-color
        text-align: center
    .wrap-text
        padding-right: 40px
    &__p
        font-size: 30px
        font-weight: 900
        color: $text-color
        text-transform: uppercase
    &__descr
        font-size: 18px
        font-weight: 300
        color: $text-color
        line-height: 26px

@media screen and ( max-width: 1280px )
    .data
        &__title
            padding-top: 50px
        &__wrapper
            margin-top: 50px

@media screen and ( max-width: 1024px )
    .data
        &__title
            padding-top: 82px
        &__wrapper
            margin-top: 20px

@media screen and ( max-width: 768px )
    .data
        display: none