.foot
    background-color: #1a8daa
    min-height: 450px
    .foot-wrapper
        display: flex
        padding-top: 48px
        justify-content: space-between
        .about
            display: flex
            flex-direction: column
            min-width: 384px
            min-height: 272px
        &__title
            font-size: 16px
            font-weight: 700
            color: $text-color
        &__icon
            height: 61px
            width: 177px
        &__text
            font-size: 14px
            font-weight: 300
            line-height: 19px
            color: $text-color
            width: 384px
            margin-top: 20px
        .modules
            display: flex
            flex-direction: column
            &__navigation
                display: flex
                flex-direction: column
        &__link
            font-size: 14px
            font-weight: 300
            line-height: 19px
            color: $text-color
            text-decoration: none
            &:hover
                opacity: 0.7
        .industry
            &__navigation
                display: flex
                flex-direction: column
        .about-us
            &__navigation
                display: flex
                flex-direction: column
.line
    hr
        display: block
        margin: 20px auto 15px
        width: 100%
        border: 1px solid rgba(255, 255, 255, 0.7)
.footer-bottom
    display: block
    margin: 0 auto
    text-align: center
    font-size: 13px
    font-weight: 300
    color: $text-color
    margin-top: 30px
                