.smartphone
    background: url("../img/background/bg_1.jpg") center (center/cover) no-repeat
    min-height: 700px
    .nav
        list-style-type: none
        display: flex
        justify-content: space-between
        &__item > a
                color: #ffffff
                font-size: 13px
                font-weight: 700
                text-transform: uppercase
                text-decoration: none
                &:hover
                    opacity: 0.7
    .text
        &__title
            display: flex
            flex-direction: column
            justify-content: center
            .bisiness
                margin-top: -18%
                font-size: 42px
                font-weight: 900
                color: #ffffff
            .pregni-descr
                margin-top: 27px
                font-size: 24px
                font-weight: 300
                color: #ffffff
            .btn
                margin-top: 39px
                width: 241px
                height: 60px
                box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07)
                background-color: $main-color
                font-family: Roboto
                font-size: 16px
                font-weight: 900
                color: #ffffff
                text-transform: uppercase
                &:hover
                    animation: bounce 1s
        &__smartphone
            padding: 0
            margin-top: 2%

@media screen and ( max-width: 1024px )
    .smartphone
        .text
            &__smartphone
                padding-left: 4.5%

@media screen and ( max-width: 768px )
    .smartphone
        padding-top: 40px
        .text
            .bisiness
                font-size: 36px
            .pregni-descr
                font-size: 20px
            &__smartphone
                padding-left: 0%
                margin-top: 3%

@media screen and ( max-width: 575px )
    .smartphone
        img
            display: block
            margin: 0 auto
        .text
            display: flex
            flex-direction: column
            justify-content: center
            padding-top: 150px
            &__title
                display: flex
                flex-direction: column
                justify-content: center
                .btn
                    display: block
                    margin: 0 auto
                    margin-top: 39px
            &__smartphone
                display: none
                